In [1]:
import pandas as pd

In [5]:
df_election = pd.read_csv('HoC-GE2019-by-constituency.csv')
df_ref = pd.read_csv('EU-referendum-result-data.csv')

In [4]:
df_election.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,green,snp,pc,dup,sf,sdlp,uup,alliance,other,other_winner
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,13/12/2019 02:30,Stephen,Kinnock,...,450,0,2711,0,0,0,0,0,731,0
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,13/12/2019 03:09,Robin,Millar,...,0,0,2704,0,0,0,0,0,0,0
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,13/12/2019 03:13,Kirsty,Blackman,...,880,20205,0,0,0,0,0,0,0,0
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,13/12/2019 03:34,Stephen,Flynn,...,0,20388,0,0,0,0,0,0,0,0
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,13/12/2019 02:59,Neil,Gray,...,685,17929,0,0,0,0,0,0,0,0

In [23]:
df_ref.head()

,id,Region_Code,Region,Area_Code,Area,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,...,Remain_pct,Leave_pct,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected
0,108,E12000006,East,E06000031,Peterborough,120892,87474,87469,72.35,87469,...,0.391066,0.608934,77,0,32,7,38,39.11,60.89,0.09
1,109,E12000006,East,E06000032,Luton,127612,84633,84636,66.31,84616,...,0.434512,0.565488,135,0,85,0,50,43.45,56.55,0.16
2,112,E12000006,East,E06000033,Southend-on-Sea,128856,93948,93939,72.90,93939,...,0.419175,0.580825,69,0,21,0,48,41.92,58.08,0.07
3,113,E12000006,East,E06000034,Thurrock,109897,79969,79954,72.75,79950,...,0.277179,0.722821,34,0,8,3,23,27.72,72.28,0.04
4,110,E12000006,East,E06000055,Bedford,119530,86136,86136,72.06,86135,...,0.482153,0.517847,69,0,26,1,42,48.22,51.78,0.08

In [20]:
#Agg on region
df_ref_agg_rgion = df_ref.groupby(['Region']).sum().reset_index()
df_ref_agg_rgion['Remain_pct'] = df_ref_agg_rgion['Remain']/df_ref_agg_rgion['Valid_Votes']
df_ref_agg_rgion['Leave_pct'] = df_ref_agg_rgion['Leave']/df_ref_agg_rgion['Valid_Votes']
df_ref_agg_rgion['region_name'] = df_ref_agg_rgion['Region']
df_ref_agg_rgion.head()

,Region,id,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,Valid_Votes,Remain,Leave,...,Leave_pct,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected,region_name
0,East,11428,4398796,3331637,3331459,3559.86,3331312,3328983,1448616,1880367,...,0.564847,2329,17,815,72,1425,2022.78,2677.22,3.27,East
1,East Midlands,10451,3384299,2510653,2510561,3018.09,2510496,2508515,1033036,1475479,...,0.588188,1981,7,694,73,1207,1617.02,2382.98,2.85,East Midlands
2,London,561,5424768,3781355,3781234,2303.97,3781204,3776751,2263519,1513232,...,0.400670,4453,26,1788,143,2496,2009.98,1290.02,3.94,London
3,North East,786,1934341,1341474,1341387,829.57,1341387,1340698,562595,778103,...,0.580372,689,8,185,30,466,486.25,713.75,0.62,North East
4,North West,5583,5241568,3668740,3668629,2758.82,3668627,3665945,1699020,1966925,...,0.536540,2682,44,851,110,1677,1719.31,2180.69,2.87,North West

In [29]:
#Agg on Area
df_ref_agg_area = df_ref.groupby(['Area']).sum().reset_index()
df_ref_agg_area['Remain_pct'] = df_ref_agg_area['Remain']/df_ref_agg_area['Valid_Votes']
df_ref_agg_area['Leave_pct'] = df_ref_agg_area['Leave']/df_ref_agg_area['Valid_Votes']
df_ref_agg_area['county_name'] = df_ref_agg_area['Area']
df_ref_agg_area.head()

,Area,id,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,Valid_Votes,Remain,Leave,...,Leave_pct,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected,county_name
0,Aberdeen City,148,154266,104809,104809,67.94,104809,104714,63985,40729,...,0.388955,95,0,34,2,59,61.10,38.90,0.09,Aberdeen City
1,Aberdeenshire,149,196809,139014,139014,70.63,139014,138961,76445,62516,...,0.449882,53,0,19,1,33,55.01,44.99,0.04,Aberdeenshire
2,Adur,368,48755,37253,37251,76.40,37251,37229,16914,20315,...,0.545677,22,0,8,0,14,45.43,54.57,0.06,Adur
3,Allerdale,189,74426,54268,54268,72.92,54268,54238,22429,31809,...,0.586471,30,0,13,0,17,41.35,58.65,0.06,Allerdale
4,Amber Valley,195,96760,73870,73868,76.34,73864,73820,29319,44501,...,0.602831,44,0,7,1,36,39.72,60.28,0.06,Amber Valley

In [30]:
df_election_region_join = pd.merge(df_election,
                 df_ref_agg_rgion[['Leave_pct', 'Remain_pct','region_name']],
                 on='region_name', 
                 how='left')

In [31]:
df_election_area_join = pd.merge(df_election,
                 df_ref_agg_area[['Leave_pct', 'Remain_pct','county_name']],
                 on='county_name', 
                 how='left')

In [32]:
df_election_area_join

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,pc,dup,sf,sdlp,uup,alliance,other,other_winner,Leave_pct,Remain_pct
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,13/12/2019 02:30,Stephen,Kinnock,...,2711,0,0,0,0,0,731,0,NaN,NaN
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,13/12/2019 03:09,Robin,Millar,...,2704,0,0,0,0,0,0,0,NaN,NaN
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,13/12/2019 03:13,Kirsty,Blackman,...,0,0,0,0,0,0,0,0,NaN,NaN
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,13/12/2019 03:34,Stephen,Flynn,...,0,0,0,0,0,0,0,0,NaN,NaN
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,13/12/2019 02:59,Neil,Gray,...,0,0,0,0,0,0,0,0,NaN,NaN
5,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,13/12/2019 02:26,Leo,Docherty,...,0,0,0,0,0,0,0,0,NaN,NaN
6,E14000531,E12000005,Aldridge-Brownhills,West Midlands,West Midlands,England,Borough,13/12/2019 02:51,Wendy,Morton,...,0,0,0,0,0,0,336,0,NaN,NaN
7,E14000532,E12000002,Altrincham and Sale West,Greater Manchester,North West,England,Borough,13/12/2019 04:35,Graham,Brady,...,0,0,0,0,0,0,678,0,NaN,NaN
8,W07000043,W92000004,Alyn and Deeside,Clwyd,Wales,Wales,County,13/12/2019 04:30,Mark,Tami,...,1453,0,0,0,0,0,0,0,NaN,NaN
9,E14000533,E12000004,Amber Valley,Derbyshire,East Midlands,England,County,13/12/2019 03:15,Nigel,Mills,...,0,0,0,0,0,0,0,0,NaN,NaN
10,S14000004,S92000003,Angus,Scotland,Scotland,Scotland,County,13/12/2019 01:55,Dave,Doogan,...,0,0,0,0,0,0,0,0,NaN,NaN
11,W07000057,W92000004,Arfon,Gwynedd,Wales,Wales,County,13/12/2019 01:55,Hywel,Williams,...,13134,0,0,0,0,0,0,0,0.419486,0.580514
12,S14000005,S92000003,Argyll and Bute,Scotland,Scotland,Scotland,County,13/12/2019 05:43,Brendan,O'Hara,...,0,0,0,0,0,0,0,0,NaN,NaN
13,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,13/12/2019 08:09,Andrew,Griffith,...,0,0,0,0,0,0,556,0,NaN,NaN
14,E14000535,E12000004,Ashfield,Nottinghamshire,East Midlands,England,County,13/12/2019 04:13,Lee,Anderson,...,0,0,0,0,0,0,13498,0,NaN,NaN
15,E14000536,E12000008,Ashford,Kent,South East,England,County,13/12/2019 03:03,Damian,Green,...,0,0,0,0,0,0,862,0,NaN,NaN
16,E14000537,E12000002,Ashton-Under-Lyne,Greater Manchester,North West,England,Borough,13/12/2019 04:05,Angela,Rayner,...,0,0,0,0,0,0,0,0,NaN,NaN
17,E14000538,E12000008,Aylesbury,Buckinghamshire,South East,England,County,13/12/2019 04:29,Rob,Butler,...,0,0,0,0,0,0,0,0,NaN,NaN
18,S14000006,S92000003,"Ayr, Carrick and Cumnock",Scotland,Scotland,Scotland,County,13/12/2019 03:52,Allan,Dorans,...,0,0,0,0,0,0,0,0,NaN,NaN
19,E14000539,E12000008,Banbury,Oxfordshire,South East,England,County,13/12/2019 04:53,Victoria,Prentis,...,0,0,0,0,0,0,0,0,NaN,NaN
20,S14000007,S92000003,Banff and Buchan,Scotland,Scotland,Scotland,County,13/12/2019 05:03,David,Duguid,...,0,0,0,0,0,0,0,0,NaN,NaN
21,E14000540,E12000007,Barking,London,London,England,Borough,13/12/2019 03:42,Margaret,Hodge,...,0,0,0,0,0,0,0,0,NaN,NaN
22,E14000541,E12000003,Barnsley Central,South Yorkshire,Yorkshire and The Humber,England,Borough,13/12/2019 02:14,Daniel,Jarvis,...,0,0,0,0,0,0,898,0,NaN,NaN
23,E14000542,E12000003,Barnsley East,South Yorkshire,Yorkshire and The Humber,England,County,13/12/2019 02:00,Stephanie,Peacock,...,0,0,0,0,0,0,0,0,NaN,NaN
24,E14000543,E12000002,Barrow and Furness,Cumbria,North West,England,County,13/12/2019 03:20,Simon,Fell,...,0,0,0,0,0,0,0,0,NaN,NaN
25,E14000544,E12000006,Basildon and Billericay,Essex,East,England,Borough,13/12/2019 01:48,John,Baron,...,0,0,0,0,0,0,224,0,NaN,NaN
26,E14000545,E12000008,Basingstoke,Hampshire,South East,England,Borough,13/12/2019 02:58,Maria,Miller,...,0,0,0,0,0,0,746,0,NaN,NaN
27,E14000546,E12000004,Bassetlaw,Nottinghamshire,East Midlands,England,County,13/12/2019 03:38,Brendan,Clarke-Smith,...,0,0,0,0,0,0,0,0,NaN,NaN
28,E14000547,E12000009,Bath,Avon,South West,England,Borough,13/12/2019 02:59,Wera,Hobhouse,...,0,0,0,0,0,0,341,0,NaN,NaN
29,E14000548,E12000003,Batley and Spen,West Yorkshire,Yorkshire and The Humber,England,Borough,13/12/2019 05:16,Tracy,Brabin,...,0,0,0,0,0,0,6432,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,E14001038,E12000009,Weston-Super-Mare,Avon,South West,England,County,13/12/2019 04:53,John,Penrose,...,0,0,0,0,0,0,0,0,NaN,NaN
621,E14001034,E12000006,West Suffolk,Suffolk,East,England,County,13/12/2019 02:44,Matthew,Hancock,...,0,0,0,0,0,0,0,0,NaN,NaN
622,N06000018,N92000002,West Tyrone,Northern Ireland,Northern Ireland,Northern Ireland,County,13/12/2019 02:19,Ã“rfhlaith,Begley,...,0,9066,16544,7330,2774,3979,972,0,0.442248,0.557752
623,E14001035,E12000005,West Worcestershire,Hereford and Worcester,West Midlands,England,County,13/12/2019 03:16,Harriett,Baldwin,...,0,0,0,0,0,0,0,0,NaN,NaN
624,E14001039,E12000002,Wigan,Greater Manchester,North West,England,County,13/12/2019 01:52,Lisa,Nandy,...,0,0,0,0,0,0,0,0,NaN,NaN
625,E14001040,E12000007,Wimbledon,London,London,England,Borough,13/12/2019 03:51,Stephen,Hammond,...,0,0,0,0,0,0,366,0,NaN,NaN
626,E14001041,E12000008,Winchester,Hampshire,South East,England,County,13/12/2019 05:30,Stephen,Brine,...,0,0,0,0,0,0,292,0,NaN,NaN
627,E14001042,E12000008,Windsor,Berkshire,South East,England,County,13/12/2019 03:51,Adam,Afriyie,...,0,0,0,0,0,0,884,0,NaN,NaN
628,E14001043,E12000002,Wirral South,Merseyside,North West,England,County,13/12/2019 02:38,Alison,McGovern,...,0,0,0,0,0,0,0,0,NaN,NaN
629,E14001044,E12000002,Wirral West,Merseyside,North West,England,County,13/12/2019 02:52,Margaret,Greenwood,...,0,0,0,0,0,0,0,0,NaN,NaN
630,E14001045,E12000006,Witham,Essex,East,England,County,13/12/2019 03:40,Priti,Patel,...,0,0,0,0,0,0,0,0,NaN,NaN
631,E14001046,E12000008,Witney,Oxfordshire,South East,England,County,13/12/2019 03:15,Robert,Courts,...,0,0,0,0,0,0,0,0,NaN,NaN
632,E14001047,E12000008,Woking,Surrey,South East,England,County,13/12/2019 04:19,Jonathan,Lord,...,0,0,0,0,0,0,600,0,NaN,NaN
633,E14001048,E12000008,Wokingham,Berkshire,South East,England,County,13/12/2019 03:04,John,Redwood,...,0,0,0,0,0,0,80,0,NaN,NaN
634,E14001049,E12000005,Wolverhampton North East,West Midlands,West Midlands,England,Borough,13/12/2019 02:37,Jane,Stevenson,...,0,0,0,0,0,0,0,0,NaN,NaN
635,E14001050,E12000005,Wolverhampton South East,West Midlands,West Midlands,England,Borough,13/12/2019 03:03,Pat,McFadden,...,0,0,0,0,0,0,0,0,NaN,NaN
636,E14001051,E12000005,Wolverhampton South West,West Midlands,West Midlands,England,Borough,13/12/2019 02:53,Stuart,Anderson,...,0,0,0,0,0,0,0,0,NaN,NaN
637,E14001052,E12000005,Worcester,Hereford and Worcester,West Midlands,England,Borough,13/12/2019 03:16,Robin,Walker,...,0,0,0,0,0,0,584,0,NaN,NaN
638,E14001053,E12000002,Workington,Cumbria,North West,England,County,13/12/2019 01:23,Mark,Jenkinson,...,0,0,0,0,0,0,929,0,NaN,NaN
639,E14001054,E12000002,Worsley and Eccles South,Greater Manchester,North West,England,County,13/12/2019 03:23,Barbara,Keeley,...,0,0,0,0,0,0,0,0,NaN,NaN
640,E14001055,E12000008,Worthing West,West Sussex,South East,England,Borough,13/12/2019 05:08,Peter,Bottomley,...,0,0,0,0,0,0,489,0,NaN,NaN
641,W07000044,W92000004,Wrexham,Clwyd,Wales,Wales,County,13/12/2019 01:49,Sarah,Atherton,...,2151,0,0,0,0,0,0,0,NaN,NaN
642,E14001056,E12000008,Wycombe,Buckinghamshire,South East,England,County,13/12/2019 02:01,Steve,Baker,...,0,0,0,0,0,0,1441,0,NaN,NaN
643,E14001057,E12000002,Wyre and Preston North,Lancashire,North West,England,County,13/12/2019 03:34,Ben,Wallace,...,0,0,0,0,0,0,335,0,NaN,NaN
644,E14001058,E12000005,Wyre Forest,Hereford and Worcester,West Midlands,England,County,13/12/2019 03:12,Mark,Garnier,...,0,0,0,0,0,0,0,0,NaN,NaN
645,E14001059,E12000002,Wythenshawe and Sale East,Greater Manchester,North West,England,Borough,13/12/2019 05:04,Michael,Kane,...,0,0,0,0,0,0,58,0,NaN,NaN
646,E14001060,E12000009,Yeovil,Somerset,South West,England,County,13/12/2019 05:28,Marcus,Fysh,...,0,0,0,0,0,0,875,0,NaN,NaN
647,W07000041,W92000004,Ynys Mon,Gwynedd,Wales,Wales,County,13/12/2019 02:45,Virginia,Crosbie,...,10418,0,0,0,0,0,0,0,0.419486,0.580514
648,E14001061,E12000003,York Central,North Yorkshire,Yorkshire and The Humber,England,Borough,13/12/2019 04:18,Rachael,Maskell,...,0,0,0,0,0,0,691,0,NaN,NaN
649,E14001062,E12000003,York Outer,North Yorkshire,Yorkshire and The Humber,England,County,13/12/2019 04:35,Julian,Sturdy,...,0,0,0,0,0,0,692,0,NaN,NaN